<%= simple_form_for @task, url: protocol_task_path(@task), method: :patch do |f| %>
<h2>Edit Task: <%= link_to "Back", protocol_path(@task.protocol) %>
</h2>
<%= f.input :content, label: "Description:" %>
<button type="button" class="btn btn-outline-primary">
  <%= f.button :submit, value: 'Add', "data-disable-with" => "Creating.." %>
</button>
   <% end %>


