<div class="navbar">
    <% if current_user %>
      <%= link_to 'Back', :back, class: 'logo' %>
      <div class="logo">light!</div>
      <%= link_to "Out", destroy_user_session_path, method: :delete, class: 'logo' %>
    <% else %>
      <div class="logo">light!</div>
      <%= link_to "Login", areas_path, class:"logo" %>
    <% end %>
</div>
