<br>
<div class="container">
  <div class="card text-center">
    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item">
          <%= link_to "Start a new Project", new_area_path, class: 'nav-link far fa-plus-square bigger-icon' %>
        </li>
      </ul>
    </div>
    <div class="card-body">
      <h3 class="card-title">Light!</h4>
      <p class="card-text">Easier, better, faster, stronger </p>
      <p class="card-title"><strong>Next Feature:</strong> Gantt Charts </p>
    </div>
  </div>
  <br>
  <% @areas.each do |area|  %>
    <%= link_to area_path(area) do %>
      <div class="card-product">
        <div class="card-product-infos">
          <h1><span class="fas fa-hands-helping middle-icon"></span> <%= area.title %></h1>
        </div>
      </div>
    <% end %>
    <br>
  <% end %>
