<div class="navbar">
  <div class="logo">light!</div>
</div>
<br>
<div class="container">
  <% @areas.each do |area|  %>
    <div class="card-product">
      <img src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" />
      <div class="card-product-infos">
        <h2><span class="fas fa-hands-helping middle-icon"></span> <%= link_to area.title, area_path(area) %></h2>
      </div>
    </div>
    <br>
  <% end %>
<br><hr>
      <%= link_to "  Create Workgroup", new_area_path, class: 'far fa-plus-square bigger-icon'%>
