.btn-delete {
  display: flex;
  text-align: right;
}

.bigger-icon {
  color: gray;
  font-size: 200%;
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}

.middle-icon {
  color: gray;
  font-size: 120%;
  a {
  text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
}
