.btn-back {
  margin: 4px;
  padding: 8px;
  font-weight: bold;
  background: blue;
  border-radius: 8px;
  transition: 0.5s;

  a {
    text-decoration: none;
    color: white;
  }
}

.btn-back:hover {
  background: green;
}
