  .logo{
    font-size: 200%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-right: 24px;
    margin-left: 24px;
    padding: 8px;

    p {
      text-decoration: underline;
    }
  }

    .logo-big{
      font-size: 400%;
      border: 4px solid black;
      height: 240px;
      width: 240px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      font-family: 'Permanent Marker', cursive;
      box-shadow: 10px 10px 10px #bc002d;
      margin-right: 24px;
      margin-left: 24px;
  }

  .color-red:hover {
    color: #bc002d
  }
